@import "tailwindcss";

body {
  font-family: 'Poppins', sans-serif;
}

/* Apply to all headings */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Cormorant Garamond', serif;
}
    



/* Marquee animation */
.marquee {
  display: flex;
  width: max-content;
  animation: marquee 18s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}



.animate-scroll {
  display: flex;
  width: max-content;
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
